<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Postcrossing Stats</title>
    <!-- 引入Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="../src/bootstrap-5.2.2/package/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="text-center mb-4"></h1>
      <ul class="list-group">
        <li class="list-group-item">注册时间：<b>{{item.register_date}} [至今{{item.registered_years}}年（{{item.registered_days}}天）]</b></li>
        <li class="list-group-item">寄出：<b>[📤{{item.sent_postcard_num}} 📏{{item.sent_distance}} km 🌏{{item.sent_laps}} 圈]</b></li>
        <li class="list-group-item">收到：<b>[📥{{item.received_postcard_num}} 📏{{item.received_distance}} km 🌏{{item.received_laps}} 圈]</b></li>
        <li class="list-group-item">涉及国家：<b>{{item.countries}}</b></li>
        <li class="list-group-item">待签收：<b>{{item.traveling}}</b></li>
        {% if item.is_supporter =='YES' %}
        <li class="list-group-item">会员<img src="https://static1.postcrossing.com/images/supporter.png" height="25"><b>：YES-暂未到期</b></li>
        {% elif item.is_supporter =='No' %}
        <li class="list-group-item">会员<img src="https://static1.postcrossing.com/images/supporter.png" height="25"><b>：已到期</b></li>
        {% else%}{% endif %}
        
        <!-- <ul class="list-group">
        <li class="list-group-item">注册时间：<b>2013/05/18 [至今12年（4470天）]</b></li>
        <li class="list-group-item">寄出：<b>[📤240 📏1,860,709 km 🌏46.4 圈]

</b></li>
        <li class="list-group-item">收到：<b>[📥250 📏1,995,150 km 🌏49.8 圈]

</b></li>
        <li class="list-group-item">涉及国家：<b>48/248 [19.35%]</b></li>
        <li class="list-group-item">待签收：<b>17 [过期：5]</b></li>
        <li class="list-group-item">会员<img src="https://static1.postcrossing.com/images/supporter.png" height="25"><b>：YES-暂未到期</b></li>
      </ul> -->
      </ul>
    </div>
    <!-- 引入Bootstrap JS 和依赖 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.1/dist/umd/popper.min.js"></script>
    <script src="../src/bootstrap-5.2.2/package/dist/js/bootstrap.min.js"></script>
  </body>
</html>
